<h1>Timeline</h1>

<% if current_user == User.find_by(id: params[:id]) %>
<%= link_to 'Write a New Post', new_user_post_path(current_user) %>
<% end %>

<% @posts.each do |post| %>
	<p>
		<%= post.content %><br>
		Created at <%= post.created_at %>
		<% if current_user == User.find_by(id: params[:id]) %>
		<%= link_to 'Delete', user_post_path(current_user, post), method: :delete %>
		<br>
		<%= pluralize(post.likes.count, 'like') %>
		<% end %>
	</p>
<% end %>