<h3>Friends (<%= user.active_friendships.to_a.count %>)</h3>

<table>

	<tr>
		<th>Name
		</th>
	</tr>
<% user.requested_active_friendships.each do |friendship| %>
	<% friend = friendship.friendship_accepter %>
	<tr>
		<td><%= link_to "#{friend.first_name} #{friend.last_name}", user_path(friend) %></td>

		<% if current_user == @user %>
		<td><%= link_to 'Remove Friend', friendship_path(friendship, friend_id: friend.id), method: :delete %></td>
		<% end %>
	</tr>
<% end %>

<% user.accepted_active_friendships.each do |friendship| %>
	<% friend = friendship.friendship_requester %>
	<tr>
		<td><%= link_to "#{friend.first_name} #{friend.last_name}", user_path(friend) %></td>
		<% if current_user == @user %>
		<td><%= link_to 'Remove Friend', friendship_path(friendship, friend_id: friend.id), method: :delete %></td>
		<% end %>
	</tr>
<% end %>

</table>